<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../../public/styles/cadDoador.css">
  <title>DOECAR | Cadastro de doador</title>
</head>

<body>
  <header></header>

  <form action="">
    <div id="boxSelector">
      <label for="">Como você quer participar?</label>
      <select>
        <option value=""></option>
        <option value="doador">DOADOR</option>
        <option value="voluntario">VOLUNTÁRIO</option>
        <option value="instituicao">INSTITUIÇÃO</option>
      </select>
    </div>

    <div id="boxData">
      <fieldset>
        <div class="boxInput">
          <label for="">Nome completo</label>
          <input type="text">
        </div>

        <div class="boxInput">
          <label for="">CPF</label>
          <input type="number">
        </div>

        <div class="boxInput">
          <label for="">Rua</label>
          <input type="text">
        </div>

        <div class="boxInput">
          <label for="">Bairro</label>
          <input type="text">
        </div>

        <div class="boxInput">
          <label for="">Número</label>
          <input type="number">
        </div>
      </fieldset>

      <fieldset>
        <div class="boxInput">
          <label for="">Email</label>
          <input type="email">
        </div>

        <div class="boxInput">
          <label for="">Senha</label>
          <input type="password">
        </div>

        <div class="boxInput">
          <label for="">Confirmar senha</label>
          <input type="password">
        </div>

        <button>CADASTRAR</button>
      </fieldset>
    </div>
  </form>

</body>

</html>