<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/doDonation.css" />
    <title>DOECAR | Cadastro de doação</title>
  </head>

  <body>
    <header>
      <img src="/assets/logo.png" alt="" class="logo" />
    </header>

    <h1>DOAÇÃO</h1>
    <form action="/listDonation" method="POST">
      <div class="boxInput">
        <label for="">Descrição</label>
        <input type="email" />
      </div>

      <div id="boxSelector">
        <label for="">Categoria</label>
        <select>
          <option value=""></option>
          <option value="">Categoria 1</option>
          <option value="">Categoria 2</option>
        </select>
      </div>

      <div class="boxInput">
        <label for="">Quantidade</label>
        <input type="email" />
      </div>

      <div id="boxSelector">
        <label for="">Instituição</label>
        <select>
          <option value=""></option>
          <option value="">Instituição 1</option>
          <option value="">Instituição 2</option>
        </select>
      </div>

      <button>CADASTRAR</button>
    </form>
  </body>
</html>
