<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/styles/doDonation.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
  <script src="https://malsup.github.io/jquery.form.js"></script>
  <title>DOECAR | Cadastro de doação</title>
</head>

<body>
  <header>
    <a href="/"><img src="/assets/logo.png" alt="" class="logo" /></a>
  </header>

  <h1>DOAÇÃO</h1>
  <div id="boxDataDoacao" class="boxData">
  <form method="POST" id="formDoacao">
    <fieldset>
    <div class="boxInput">
      <label for="descricao">Descrição</label>
      <input type="text" id="descricao" name="descricao" />
    </div>

    <div id="boxSelector">
      <label for="cod_categ">Categoria</label>
      <select id="cod_categ" name="cod_categ">
        <option value=""></option>
        <option value="1">Categoria 1</option>
        <option value="2">Categoria 2</option>
      </select>
    </div>

    <div class="boxInput">
      <label for="quantidade">Quantidade</label>
      <input type="number" name="quantidade" id="quantidade" />
    </div>

    <div id="boxSelector">
      <label for="cod_institu">Instituição</label>
      <select id="cod_institu" name="cod_institu">
        <option value=""></option>
        <option value="1">Instituição 1</option>
        <option value="2">Instituição 2</option>
      </select>
    </div>

    <div class="mobile-only">
      <h3>Endereço de Recolhida</h3>
      <div class="boxInput">
        <label for="rua_doador">Rua</label>
        <input type="text" name="rua_doador" id="rua_doador">
      </div>
      <div class="boxInput">
        <label for="numero_doador">Número</label>
        <input type="number" name="numero_doador" id="numero_doador">
      </div>

      <div class="boxInput">
        <label for="bairro">Bairro</label>
        <input type="text" name="bairro_doador" id="bairro_doador">
      </div>

      <div>
        <input type = "checkbox" id = "enderecoPadrao" name = "endPadrao" value = "endPadrao">
        <label for = "subscribeNews"> Utilizar endereço padrão do cadastro</label>
      </div>
    </div>

    <div class="tempo">
      <h3>Tempo disponível da doação</h3>
      <div class="boxInput">
        <label for="tempo_doacao">De</label>
        <input type="datetime-local" name="tempo_doacao" id="tempo_doacao">
      </div>
      <div class="boxInput">
        <label for="tempo_doacao">até</label>
        <input type="datetime-local" name="tempo_doacao" id="tempo_doacao">
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="pc-only">
      <h3>Endereço de Recolhida</h3>
    <div class="boxInput">
      <label for="rua_doador">Rua</label>
      <input type="text" name="rua_doador" id="rua_doador">
    </div>
    <div class="boxInput">
      <label for="numero_doador">Número</label>
      <input type="number" name="numero_doador" id="numero_doador">
    </div>

    <div class="boxInput">
      <label for="bairro">Bairro</label>
      <input type="text" name="bairro_doador" id="bairro_doador">
    </div>

    <div class="boxCheckbox">
      <input type = "checkbox" id = "enderecoPadrao" name = "endPadrao" value = "endPadrao">
      <label for = "utilizarEnderecoPadrao"> Utilizar endereço padrão do cadastro</label>
    </div>
  </div>
  <button onclick="enviarForm()">CADASTRAR</button>

  </fieldset>
  </form>
  </div>

</body>

</html>
<script>
  function serializeJSON(form) {
    var json = {};
    $(form).serializeArray().forEach(function (item) {
      if (!json[item.name]) {
        json[item.name] = item.value;
        return;
      }
      if (!Array.isArray(json[item.name]))
        json[item.name] = [json[item.name]];
      json[item.name].push(item.value);
    });
    return json;
  }

  function enviarForm() {
    const user = JSON.parse(sessionStorage.getItem('USER'));
    const data = serializeJSON("#formDoacao");
    console.log(user)
    data.rua = user.rua;
    data.numero = user.nro;
    data.bairro = user.bairro;
    data.cod_doador = user.cod_doador;

    console.log(data);
    $.ajax({
      type: "POST",
      data,
      url: "/saveDoacao",
      cache: false,
    });
  }

var rua_usr     = "Rua";            /* Inserir Rua */
var num_usr     = Number("0123");   /* Inserir Número */
var bairro_usr  = "Bairro";      /* Inserir Bairro */

/* Alterar seletor name conforme o nome do input */

var fillForm = function(rua,num,bairro){
    $('input[name="rua_doador"]').val(rua).prop('disabled', true);
    $('input[name="numero_doador"]').val(num).prop('disabled', true);
    $('input[name="bairro_doador"]').val(bairro).prop('disabled', true);
};
var unfillForm = function(){
    $('input[name="rua_doador"]').val("").prop('disabled', false);
    $('input[name="numero_doador"]').val("").prop('disabled', false);
    $('input[name="bairro_doador"]').val("").prop('disabled', false);
};
$(document).ready(function(){
    $('input[type="checkbox"]').click(function(){
        if($(this).is(":checked")){
            fillForm(rua_usr,num_usr,bairro_usr);
        }
        else if($(this).is(":not(:checked)")){
            unfillForm();
        }
    });
});

</script>