<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/styles/doDonation.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
  <script src="https://malsup.github.io/jquery.form.js"></script>
  <title>DOECAR | Cadastro de doação</title>
</head>

<body>
  <header>
    <a href="/"><img src="/assets/logo.png" alt="" class="logo" /></a>
  </header>

  <h1>DOAÇÃO</h1>
  <div id="boxDataDoacao" class="boxData">

    <form method="POST" id="formDoacao">
      <fieldset>
        <div class="boxInput">
          <label for="descricao">Descrição</label>
          <input type="text" id="descricao" name="descricao" />
        </div>

        <div id="boxSelector">
          <label for="cod_categ">Categoria</label>
          <select id="cod_categ" name="cod_categ">
            <option value=""></option>
            {% for categoria in categorias %}
            <option value={{categoria.cod_categ}}>{{categoria.descricao}}</option>
            {% endfor %}
          </select>
        </div>

        <div class="boxInput">
          <label for="quantidade">Quantidade</label>
          <input type="number" name="quantidade" id="quantidade" />
        </div>

        <div id="boxSelector">
          <label for="cod_institu">Instituição</label>
          <select id="cod_institu" name="cod_institu">
            <option value=""></option>
            {% for instituicao in instituicoes %}
            <option value={{instituicao.cod_institu}}>{{instituicao.nome}}</option>
            {% endfor %}
          </select>
        </div>

        <div class="mobile-only">
          <h3>Endereço de Recolhida</h3>
          <div class="boxInput">
            <label for="rua_doacao">Rua</label>
            <input type="text" name="rua_doacao" id="rua_doacao">
          </div>
          <div class="boxInput">
            <label for="numero_doacao">Número</label>
            <input type="number" name="numero_doacao" id="numero_doacao">
          </div>

          <div class="boxInput">
            <label for="bairro_doacao">Bairro</label>
            <input type="text" name="bairro_doacao" id="bairro_doacao">
          </div>

          <div>
            <input type="checkbox" id="endereco_padrao" name="endereco_padrao" value="1">
            <label for="endereco_padrao"> Utilizar endereço padrão do cadastro</label>
          </div>
        </div>

        <div class="tempo">
          <h3>Tempo disponível da doação</h3>
          <div class="boxInput">
            <label for="tempo_doacao">De</label>
            <input type="datetime-local" name="tempo_doacao" id="tempo_doacao">
          </div>
          <div class="boxInput">
            <label for="tempo_doacao">até</label>
            <input type="datetime-local" name="tempo_doacao" id="tempo_doacao">
          </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="pc-only">
          <h3>Endereço de Recolhida</h3>
          <div class="boxInput">
            <label for="rua_doacao">Rua</label>
            <input type="text" name="rua_doacao" id="rua_doacao">
          </div>
          <div class="boxInput">
            <label for="numero_doacao">Número</label>
            <input type="number" name="numero_doacao" id="numero_doacao">
          </div>

          <div class="boxInput">
            <label for="bairro_doacao">Bairro</label>
            <input type="text" name="bairro_doacao" id="bairro_doacao">
          </div>

          <div class="boxCheckbox">
            <input type="checkbox" id="endereco_padrao" name="endereco_padrao" value="1">
            <label for="endereco_padrao"> Utilizar endereço padrão do cadastro</label>
          </div>
        </div>
        <button type="button" onclick="enviarForm()">CADASTRAR</button>
      </fieldset>
    </form>

  </div>

</body>

</html>

<script>
  const user = JSON.parse(sessionStorage.getItem('USER'));
  // console.log(user)

  function serializeJSON(form) {
    var json = {};
    $(form).serializeArray().forEach(function (item) {
      if (!json[item.name]) {
        json[item.name] = item.value;
        return;
      }
      if (!Array.isArray(json[item.name]))
        json[item.name] = [json[item.name]];
      json[item.name].push(item.value);
    });
    return json;
  }

  function enviarForm() {
    const data = serializeJSON("#formDoacao");
    data.rua = user.rua;
    data.numero = user.nro;
    data.bairro = user.bairro;
    data.cod_doador = user.cod_doador;

    console.log(data);
    $.ajax({
      url: "/saveDoacao",
      type: 'POST',
      data,
    })
      .done(function () {
        window.location = `/listDonation?cod_doador=${user.cod_doador}`;
      })
      .fail(function (msg) {
        alert(msg);
      });
  }

  var rua_usr = user.rua;            /* Inserir Rua */
  var num_usr = Number(user.nro);    /* Inserir Número */
  var bairro_usr = user.bairro;      /* Inserir Bairro */

  /* Alterar conteudo do seletor conforme está selecionado ou não o checkbox */

  var fillForm = function (rua, num, bairro) {
    $('input[name="rua_doacao"]').val(rua).prop('disabled', true);
    $('input[name="numero_doacao"]').val(num).prop('disabled', true);
    $('input[name="bairro_doacao"]').val(bairro).prop('disabled', true);
  };

  var unfillForm = function () {
    $('input[name="rua_doacao"]').val("").prop('disabled', false);
    $('input[name="numero_doacao"]').val("").prop('disabled', false);
    $('input[name="bairro_doacao"]').val("").prop('disabled', false);
  };

  $(document).ready(function () {
    $('input[type="checkbox"]').click(function () {
      if ($(this).is(":checked")) {
        fillForm(rua_usr, num_usr, bairro_usr);
      }
      else if ($(this).is(":not(:checked)")) {
        unfillForm();
      }
    });
  });

</script>