<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="/styles/landing.css"
    />
    <title>DOECAR | Home</title>
  </head>

  <body>
    <header>
        <img class="logo" src="/assets/logo.png">
        <a href="/login"><button class="botao-entrar">ENTRAR</button></a>
    </header>

    <div class="container">
    <div class="imageHome">
        <img class="imgHome" src="/assets/donate.png">
    </div>
    <div class="rightWrapper">
    <div class="textHome">
        <p>Seja um doador e ajude outras pessoas. Sua doação pode mudar vidas! O DoeCar é um sistema fácil e eficiente que possibilita que você faça doações para várias instiuições que necessitam, e sem gastar dinheiro!</p>
    </div>
    <div class="botaoDiv">
      <a href="/register"><button class="botao-cadastrar">QUERO PARTICIPAR</button></a>
    </div>
</div>
    <div class="margin-cards"></div>
</div>
  </body>
</html>
