<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/styles/listDoacoesVoluntario.css" />
  <title>DOECAR | Doações Entregues</title>
</head>

<body>
  <header>
    <a href="/"><img src="/assets/logo.png" alt="" class="logo" /></a>
    <div>
      <a href='/listDonationAndamento?cod_volunt={{cod_volunt}}'><button class="botao-head">EM ANDAMENTO</button></a>
      <a href='/listEscolhaDoacoes?cod_volunt={{cod_volunt}}'><button class="botao-head">ESCOLHER</button></a>
      <a href='/listDonationEntregues?cod_volunt={{cod_volunt}}'><button class="botao-head botao-atual">ENTREGUES</button></a>
    </div>
    <a href="/profile-voluntario"><div class="div-botao"><button class="botao-perfil">PERFIL</button></div></a>
  </header>

  <p class="titulo">DOAÇÕES ENTREGUES</p>

  {% if doacoes == "" %}
    <p class="noResults">Nenhuma doação encontrada!</p>
  {% else %}
    {% for doacao in doacoes %}
      <div class="cardEntregues">
        <div class="divisoria1">
          <p>
            {{doacao.descricao}}<br>
            Quantidade: {{doacao.quantidade}}
          </p>
        </div>

        <div class="divisoria2">
          <p>
            Doador: {{doacao.doador}}<br>
            {{doacao.rua_doacao}}, {{doacao.nro_doacao}}<br>
            {{doacao.bairro_doacao}}
          </p>
        </div>

        <div class="divisoria3">
          <p>
            Instituição: {{doacao.instituicao}}<br>
            {{doacao.rua_instituicao}}, {{doacao.nro_instituicao}}<br>
            {{doacao.bairro_instituicao}}
          </p>
        </div>
      </div>
    {% endfor %}
  {% endif %}

  <div class="margin-cards"></div>
</body>

</html>