<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="/styles/listDoacoesEntregues.css"
    />
    <title>DOECAR | Doações Em Andamento</title>
  </head>

  <body>
    <header>
      <img src="/assets/logo.png" alt="" class="logo" />
      <a href="/listEscolhaDoacoes"><button class="botao-doar">ESCOLHER</button></a>
      <a href="/listDonationAndamento"><button class="botao-doar">EM ANDAMENTO</button></a>
      <a href="/listDonationEntregues"><button class="botao-doar">ENTREGUES</button></a>
      
    </header>

    <p class="titulo">DOAÇÕES EM ANDAMENTO</p>

    <div class="card">
      <div class="divisoria1">
        <p>Descrição da doação</p>
      </div>

      <div class="divisoria2">
        <p>Quantidade: 230</p>
      </div>

      <div class="divisoria3">
        <p>Categoria: Roupas</p>
      </div>

      <div class="divisoria4">
        <p>Instituição: Asilo</p>
      </div>
    </div>

    <div class="card">
      <div class="divisoria1">
        <p>Descrição da doação</p>
      </div>

      <div class="divisoria2">
        <p>Quantidade: 230</p>
      </div>

      <div class="divisoria3">
        <p>Categoria: Roupas</p>
      </div>

      <div class="divisoria4">
        <p>Instituição: Asilo</p>
      </div>
    </div>

    <div class="card">
      <div class="divisoria1">
        <p>Descrição da doação</p>
      </div>

      <div class="divisoria2">
        <p>Quantidade: 230</p>
      </div>

      <div class="divisoria3">
        <p>Categoria: Roupas</p>
      </div>

      <div class="divisoria4">
        <p>Instituição: Asilo</p>
      </div>
    </div>

    <div class="card">
      <div class="divisoria1">
        <p>Descrição da doação</p>
      </div>

      <div class="divisoria2">
        <p>Quantidade: 230</p>
      </div>

      <div class="divisoria3">
        <p>Categoria: Roupas</p>
      </div>

      <div class="divisoria4">
        <p>Instituição: Asilo</p>
      </div>
    </div>

    <div class="card">
      <div class="divisoria1">
        <p>Descrição da doação</p>
      </div>

      <div class="divisoria2">
        <p>Quantidade: 230</p>
      </div>

      <div class="divisoria3">
        <p>Categoria: Roupas</p>
      </div>

      <div class="divisoria4">
        <p>Instituição: Asilo</p>
      </div>
    </div>

    <div class="margin-cards"></div>
  </body>
</html>
