<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/register.css">
  <title>DOECAR | Cadastro de doador</title>
</head>

<body>
  <header>
    <img src="/assets/logo.png" alt="" class="logo" />
  </header>

  <div id="boxSelector">
    <label for="">Como você quer participar?</label>
    <select id="seletor">
      <option value="doador" selected>DOADOR</option>
      <option value="voluntario">VOLUNTÁRIO</option>
      <option value="instituicao">INSTITUIÇÃO</option>
    </select>
  </div>


    <div id="boxDataDoador" class="boxData">
      <form action="/listDonation" method="POST">
      <fieldset>
        <div class="boxInput">
          <label for="">Nome</br>completo</label>
          <input type="text">
        </div>

        <div class="boxInput">
          <label for="">CPF</label>
          <input type="number">
        </div>

        <div class="boxInput">
          <label for="">Rua</label>
          <input type="text">
        </div>

        <div class="boxInput">
          <label for="">Número</label>
          <input type="number">
        </div>

        <div class="boxInput">
          <label for="">Bairro</label>
          <input type="text">
        </div>

      </fieldset>

      <fieldset>
        <div class="boxInput">
          <label for="">Email</label>
          <input type="email">
        </div>

        <div class="boxInput">
          <label for="">Senha</label>
          <input type="password">
        </div>

        <div class="boxInput">
          <label for="">Confirmar</br>senha</label>
          <input type="password">
        </div>

        <button>CADASTRAR</button>
      </fieldset>
    </form>
    </div>


    <div id="boxDataVoluntario" class="boxData">
      <form action="/listDonation" method="POST">
      <fieldset>
        <div class="boxInput">
          <label for="">Nome</br>completo</label>
          <input type="text">
        </div>

        <div class="boxInput">
          <label for="">CPF</label>
          <input type="number">
        </div>

        <div class="boxInput">
          <label for="">Rua</label>
          <input type="text">
        </div>
        <div class="boxInput">
          <label for="">Número</label>
          <input type="number">
        </div>

        <div class="boxInput">
          <label for="">Bairro</label>
          <input type="text">
        </div>


        <div class="mobile-only">
          <div class="boxInput">
            <label for="">Email</label>
            <input type="email">
          </div>

          <div class="boxInput">
            <label for="">Senha</label>
            <input type="password">
          </div>

          <div class="boxInput">
            <label for="">Confirmar</br>senha</label>
            <input type="password">
          </div>
      </div>

      <div class="veiculo">
          <div class="boxInput">
            <label for="">Placa</label>
            <input type="text">
          </div>

          <div class="boxInput">
            <label for="">Marca</label>
            <input type="number">
          </div>

          <div class="boxInput">
            <label for="">Modelo</label>
            <input type="text">
          </div>

          <div class="boxInput">
            <label for="">Ano</label>
            <input type="text">
          </div>
      </div>
      </fieldset>

      <fieldset>
        <div class="pc-only">
        <div class="boxInput">
          <label for="">Email</label>
          <input type="email">
        </div>

        <div class="boxInput">
          <label for="">Senha</label>
          <input type="password">
        </div>

        <div class="boxInput">
          <label for="">Confirmar</br>senha</label>
          <input type="password">
        </div>
      </div>
        <button>CADASTRAR</button>
      </fieldset>
    </form>

    </div>


    <div id="boxDataInstituicao" class="boxData">
      <form action="/listDonation" method="POST">
      <fieldset>
        <div class="boxInput">
          <label for="">Nome da</br>instituição</label>
          <input type="text">
        </div>

        <div class="boxInput">
          <label for="">CNPJ</label>
          <input type="number">
        </div>

        <div class="boxInput">
          <label for="">Ramo</label>
          <input type="text">
        </div>

        <div class="boxInput">
          <label for="">Rua</label>
          <input type="text">
        </div>

        <div class="boxInput">
          <label for="">Número</label>
          <input type="number">
        </div>

        <div class="boxInput">
          <label for="">Bairro</label>
          <input type="text">
        </div>
      </fieldset>

      <fieldset>
        <div class="boxInput">
          <label for="">Email</label>
          <input type="email">
        </div>

        <div class="boxInput">
          <label for="">Senha</label>
          <input type="password">
        </div>

        <div class="boxInput">
          <label for="">Confirmar</br>senha</label>
          <input type="password">
        </div>

        <button>CADASTRAR</button>
      </fieldset>
    </form>
    </div>

<script src="scripts/register.js"></script>
</body>

</html>