<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/register.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
  <script src="https://malsup.github.io/jquery.form.js"></script>
  <title>DOECAR | Cadastro de doador</title>
</head>

<body>
  <header>
    <a href="/"><img src="/assets/logo.png" alt="" class="logo" /></a>
  </header>

  <div id="boxSelector">
    <label for="">Como você quer participar?</label>
    <select id="seletor">
      <option value="doador" selected>DOADOR</option>
      <option value="voluntario">VOLUNTÁRIO</option>
      <option value="instituicao">INSTITUIÇÃO</option>
    </select>
  </div>


  <div id="boxDataDoador" class="boxData">
    <form action="/saveDoador" method="POST" id="formDoador">
      <fieldset>
        <div class="boxInput">
          <label for="nome_doador">Nome</br>completo</label>
          <input type="text" id="nome_doador" name="nome_doador">
        </div>

        <div class="boxInput">
          <label for="cpf_doador">CPF</label>
          <input type="number" id="cpf_doador" name="cpf_doador">
        </div>

        <div class="boxInput">
          <label for="rua_doador">Rua</label>
          <input type="text" name="rua_doador" id="rua_doador">
        </div>
        <div class="boxInput">
          <label for="numero_doador">Número</label>
          <input type="number" name="numero_doador" id="numero_doador">
        </div>

        <div class="boxInput">
          <label for="bairro">Bairro</label>
          <input type="text" name="bairro_doador" id="bairro_doador">
        </div>


        <div class="mobile-only">
          <div class="boxInput">
            <label for="email">Email</label>
            <input type="email" name="email_doador" id="email_doador">
          </div>

          <div class="boxInput">
            <label for="senha_doador">Senha</label>
            <input type="password" name="senha_doador" id="senha_doador">
          </div>

          <div class="boxInput">
            <label for="senha_confirma_doador">Confirmar</br>senha</label>
            <input type="password" name="senha_confirma_doador" id="senha_confirma_doador">
          </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="pc-only">
          <div class="boxInput">
            <label for="email_doador_pc">Email</label>
            <input type="email" name="email_doador_pc" id="email_doador_pc">
          </div>

          <div class="boxInput">
            <label for="senha_doador_pc">Senha</label>
            <input type="password" name="senha_doador_pc" id="senha_doador_pc">
          </div>

          <div class="boxInput">
            <label for="senha_confirma_doador_pc">Confirmar</br>senha</label>
            <input type="password" name="senha_confirma_doador_pc" id="senha_confirma_doador_pc">
          </div>
        </div>
        <button form="formDoador">CADASTRAR</button>
      </fieldset>
    </form>
  </div>


  <div id="boxDataVoluntario" class="boxData">
    <form action="/saveVoluntario" method="POST" id="formVoluntario">
      <fieldset>
        <div class="boxInput">
          <label for="nome_voluntario">Nome</br>completo</label>
          <input type="text" id="nome_voluntario" name="nome_voluntario">
        </div>

        <div class="boxInput">
          <label for="cpf_voluntario">CPF</label>
          <input type="number" id="cpf_voluntario" name="cpf_voluntario">
        </div>

        <div class="boxInput">
          <label for="rua_voluntario">Rua</label>
          <input type="text" name="rua_voluntario" id="rua_voluntario">
        </div>
        <div class="boxInput">
          <label for="numero_voluntario">Número</label>
          <input type="number" name="numero_voluntario" id="numero_voluntario">
        </div>

        <div class="boxInput">
          <label for="bairro">Bairro</label>
          <input type="text" name="bairro_voluntario" id="bairro_voluntario">
        </div>


        <div class="mobile-only">
          <div class="boxInput">
            <label for="email">Email</label>
            <input type="email" name="email_voluntario" id="email_voluntario">
          </div>

          <div class="boxInput">
            <label for="senha_voluntario">Senha</label>
            <input type="password" name="senha_voluntario" id="senha_voluntario">
          </div>

          <div class="boxInput">
            <label for="senha_confirma_voluntario">Confirmar</br>senha</label>
            <input type="password" name="senha_confirma_voluntario" id="senha_confirma_voluntario">
          </div>
        </div>

        <div class="veiculo">
          <div class="boxInput">
            <label for="placa_voluntario">Placa</label>
            <input type="text" name="placa_voluntario" id="placa_voluntario">
          </div>

          <div class="boxInput">
            <label for="marca_voluntario">Marca</label>
            <input type="text" name="marca_voluntario" id="marca_voluntario">
          </div>

          <div class="boxInput">
            <label for="modelo_voluntario">Modelo</label>
            <input type="text" name="modelo_voluntario" id="modelo_voluntario">
          </div>

          <div class="boxInput">
            <label for="ano_voluntario">Ano</label>
            <input type="number" name="ano_voluntario" id="ano_voluntario">
          </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="pc-only">
          <div class="boxInput">
            <label for="email_voluntario_pc">Email</label>
            <input type="email" name="email_voluntario_pc" id="email_voluntario_pc">
          </div>

          <div class="boxInput">
            <label for="senha_voluntario_pc">Senha</label>
            <input type="password" name="senha_voluntario_pc" id="senha_voluntario_pc">
          </div>

          <div class="boxInput">
            <label for="senha_confirma_voluntario_pc">Confirmar</br>senha</label>
            <input type="password" name="senha_confirma_voluntario_pc" id="senha_confirma_voluntario_pc">
          </div>
        </div>
        <button form="formVoluntario">CADASTRAR</button>
      </fieldset>
    </form>

  </div>


  <div id="boxDataInstituicao" class="boxData">
    <form action="/saveInstituicao" method="POST" id="formInstituicao">
      <fieldset>
        <div class="boxInput">
          <label for="nome_instituicao">Nome</br>completo</label>
          <input type="text" id="nome_instituicao" name="nome_instituicao">
        </div>

        <div class="boxInput">
          <label for="cnpj_instituicao">CNPJ</label>
          <input type="number" id="cnpj_instituicao" name="cnpj_instituicao">
        </div>
        <div class="boxInput">
          <label for="ramo_instituicao">Ramo</label>
          <input type="text" id="ramo_instituicao" name="ramo_instituicao">
        </div>
        <div class="boxInput">
          <label for="rua_instituicao">Rua</label>
          <input type="text" name="rua_instituicao" id="rua_instituicao">
        </div>
        <div class="boxInput">
          <label for="numero_instituicao">Número</label>
          <input type="number" name="numero_instituicao" id="numero_instituicao">
        </div>

        <div class="boxInput">
          <label for="bairro">Bairro</label>
          <input type="text" name="bairro_instituicao" id="bairro_instituicao">
        </div>


        <div class="mobile-only">
          <div class="boxInput">
            <label for="email">Email</label>
            <input type="email" name="email_instituicao" id="email_instituicao">
          </div>

          <div class="boxInput">
            <label for="senha_instituicao">Senha</label>
            <input type="password" name="senha_instituicao" id="senha_instituicao">
          </div>

          <div class="boxInput">
            <label for="senha_confirma_instituicao">Confirmar</br>senha</label>
            <input type="password" name="senha_confirma_instituicao" id="senha_confirma_instituicao">
          </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="pc-only">
          <div class="boxInput">
            <label for="email_instituicao_pc">Email</label>
            <input type="email" name="email_instituicao_pc" id="email_instituicao_pc">
          </div>

          <div class="boxInput">
            <label for="senha_instituicao_pc">Senha</label>
            <input type="password" name="senha_instituicao_pc" id="senha_instituicao_pc">
          </div>

          <div class="boxInput">
            <label for="senha_confirma_instituicao_pc">Confirmar</br>senha</label>
            <input type="password" name="senha_confirma_instituicao_pc" id="senha_confirma_instituicao_pc">
          </div>
        </div>
        <button form="formInstituicao">CADASTRAR</button>
      </fieldset>
    </form>
  </div>

  <script src="scripts/register.js"></script>
</body>

</html>

<script>
  $(document).ready(function () {
    $('#formDoador').ajaxForm(function (response) {
      console.log(response);
      sessionStorage.setItem("USER", JSON.stringify(response));
      window.location = `/listDonation?cod_doador=${response.cod_doador}`;
    })
    $('#formInstituicao').ajaxForm(function (response) {
      console.log(response);
      sessionStorage.setItem("USER", JSON.stringify(response));
      window.location = `/listDonationRecebidas?cod_institu=${response.cod_institu}`;
    })
    $('#formVoluntario').ajaxForm(function (response) {
      console.log(response);
      sessionStorage.setItem("USER", JSON.stringify(response));
      window.location = `/listDonationAndamento?cod_volunt=${response.cod_volunt}`;
    })
  });
</script>