html,
body {
  display: flex;
  padding: 0;
  margin: 0;
  background: #E8D3BE;
  font-family: 'Roboto', sans-serif;
  color: #505A5A;
  width: 100vw;
  height: 100%;
  flex-direction: column;
}

header {
  width: 100%;
  height: 90px;
  background: #df7b63;
}

.logo {
  width: 75px;
  height: 75px;
  margin-top: 5px;
  margin-left: 47%;
}

h1 {
  font-size: 35px;
  text-align: center;
  margin-top: 45px;
}

h3{
  font-size: 18px;
  text-align: start;
  margin-left: 75px;;
}

.boxData {
  width: 100%;
  height: calc(100% - 90px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  width: 80%;
  height: 100%;
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
}

form > fieldset {
  width: 50%;
  border: none;
  padding: 0px 10px 15px 15px;
  display: flex;
  flex-direction: column;
  margin-right: 7%;
}

.boxInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-top: 15px;
}

.boxCheckbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-top: 15px;
}

.boxCheckbox input {
  width: 15%;
}

.boxInput input,
#boxSelector select{
  -ms-box-sizing:content-box;
  -moz-box-sizing:content-box;
  -webkit-box-sizing:content-box;
  box-sizing:content-box;
}

#boxSelector {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-top: 15px;
}

label {
  font-size: 18px;
  text-align: end;
}

input,
select {
  background-color: #EBF0EF;
  width: 55%;
  height: 30px;
  align-self: flex-end;
  border: none;
  border-radius: 15px;
  margin-left: 15px;
  padding: 0 20px;
  font: normal 15px 'Roboto', sans-serif;
  color: #505A5A;
}

#boxSelector > select {
  background-color: #EBF0EF;
  width: 55%;
  height: 30px;
  align-self: flex-end;
  border: none;
  border-radius: 15px;
  margin-left: 15px;
  padding: 0 20px;
  font: normal 15px 'Roboto', sans-serif;
  color: #505A5A;
}

button {
  background-color: #8AB4CD;
  color: #EBF0EF;
  font-weight: bold;
  font-size: 19px;
  border: none;
  border-radius: 20px;
  height: 40px;
  width: 180px;
  align-self: flex-end;
  margin-top: 40px;
  cursor: pointer;
}

button:hover {
  background-color: #df7b63;
}

input:disabled {
  background: #e9e9e9;
}

.mobile-only{
  display: none;
}

.tempo{
  margin-top: 2em;
}

@media(max-width: 720px) {
  body{
    display: block;
  }

  .mobile-only{
    display: block;
    margin-top: 2em;
  }

  .pc-only{
    display: none;
  }

  #boxSelector {
    flex-direction: row;
    height: 180px;
  }

  #boxSelector > select {
    margin-bottom: 1.5rem;
  }

  #boxSelector > label {
    margin-bottom: 10px;
  }

  form {
    height: calc(100% - 100px);
    margin-top: 1rem;
    flex-direction: column;
  }

  form > fieldset {
    width: 90%;
    padding: 40px 0px 0px 0px;
  }

  label {
    font-size: 15px;
  }
}
