html,
body {
  padding: 0;
  margin: 0;
  background: #e8d3be;
  font-family: "Roboto", sans-serif;
  color: #505a5a;
  width: 100%;
  height: 100vh;
  flex-direction: column;
}

header {
  width: 100%;
  height: 90px;
  background: #df7b63;
  display: grid;
  grid-template-columns: 0.3fr 1fr 0.3fr;
  grid-template-rows: 1fr;
}

.noResults {
  margin-top: 200px;
  font-size: 25px;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

header > div {
  width: fit-content;
  align-self: center;
  justify-self: center;
}

header a:first-of-type {
  width: fit-content;
  align-self: center;
  justify-self: center;
}

.logo {
  width: 75px;
  height: 75px;
}

.botao-head {
  width: 218px;
  height: 90px;
  cursor: pointer;
  background: #df7b63;
  color: #ebf0ef;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 0 30px;
  border: none;
  cursor: pointer;
}

.botao-head:hover {
  background-color: #e79681;
  color: #484b4b;
}

.botao-atual {
  background-color: #e79681;
  color: #ebf0ef;
  border-bottom: 3px solid #ebf0ef;
}

.botao-escolher {
  width: 150px;
  height: 50px;
  background: #df7b63;
  border-radius: 50px;
  cursor: pointer;
  color: #ebf0ef;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
  float: right;
  border: none;
  cursor: pointer;
}

.botao-escolher:hover {
  background-color: #e8d3be;
  color: #484b4b;
}

.div-botao {
  height: 90px;
  width: 250px;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
}

.botao-perfil {
  width: 150px;
  height: 50px;
  background: #8ab4cd;
  border-radius: 50px;
  cursor: pointer;
  color: #ebf0ef;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.botao-perfil:hover {
  background-color: #e8d3be;
  color: #484b4b;
}

.titulo {
  color: #484b4b;
  font-weight: 700;
  font-size: 37px;
  text-align: center;
  margin-top: 30px;
}

.card {
  margin: auto;
  background: #8ab4cd;
  width: 73%;
  height: 85px;
  position: relative;
  display: grid;
  font-size: 16px;
  font-weight: 700;
  color: #484b4b;
  margin-bottom: 20px;

  grid-template-columns: 1.2fr 1.2fr 1.2fr 0.9fr;
  grid-template-rows: 1fr;
}

.cardEntregues {
  margin: auto;
  background: #8ab4cd;
  width: 73%;
  height: 85px;
  position: relative;
  display: grid;
  font-size: 16px;
  font-weight: 700;
  color: #484b4b;
  margin-bottom: 20px;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.cardEntregues div,
.card div {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0.5% auto auto;
}

.cardEntregues div p,
.card div p {
  text-align: center;
  white-space: normal;
}

.divisoria1,
.divisoria2 {
  border-right: 1px solid #505a5a;
}

.margin-cards {
  height: 20px;
}

@media (max-width: 720px) {
  .card {
    width: 80%;
    font-size: 13px;
  }
  .divisoria1,
  .divisoria2,
  .divisoria3,
  .divisoria4 {
    margin: auto 0.9% auto auto;
  }
}
